<a href="https://colab.research.google.com/github/macfonia/Eskom-Project/blob/master/JHB_15_Sendy_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sendy Logistics report

## Table of Contents

## Background

## Objective

## Data cleaning

The raw data received from Sendy was has redundant and information that is not useful to predicting the Time from Pickup to Arrival. We therefore have to get rid of those particular data. Some of the data also needs to be transormed or converted to more useful information.

### Column Deletion
Firstly we need to get rid of useless and a redundant data the following is a list of all the columns that are going to be ommitted:

- <b>Order_ID</b>: this column carries no numerical or categorical significance, each entry is unique and has absolutely no bearing in predicting the Time from Pickup to Arrival.
- <b>User_ID</b>: the User_ID has no significance in our prediction because for our model we are assuming that Sendy does not discriminate or prioritise certain individuals.
- <b>Vehicle Types</b>: this column is going to be ommited because all the riders use a bike as their main form of transport.
- <b>Precipitation in millimeters</b>: this collumn has too much missing data

In [0]:
import pandas as pd
Train = pd.read_csv('Train.csv')
Train.head()

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

In [0]:
Train.drop(['Order No','User Id','Vehicle Type','Precipitation in millimeters'], axis=1, inplace=True)

In [0]:
Train.head()

   Platform Type  ... Time from Pickup to Arrival
0              3  ...                         745
1              3  ...                        1993
2              3  ...                         455
3              3  ...                        1341
4              1  ...                        1214

[5 rows x 25 columns]

From the table above we can observe that the all the deliveries that were provided in the dataset are all same day deliveries therefore having the following columns in our dataset would be redundant:

- Placement - Day of Month
- Placement - Weekday (Mo = 1)
- Confirmation - Day of Month
- Confirmation - Weekday (Mo = 1)
- Arrival at Pickup - Day of Month
- Arrival at Pickup - Weekday (Mo = 1)
- Arrival at Destination - Weekday (Mo = 1)

The approach is to keep 2 of the columns one for week day and for day of the month and delete the rest of the columns, but first we need to  confirm if they are equal.

In [0]:
Train.drop(['Confirmation - Day of Month','Confirmation - Weekday (Mo = 1)','Arrival at Pickup - Day of Month',
            'Arrival at Pickup - Weekday (Mo = 1)','Arrival at Destination - Weekday (Mo = 1)','Pickup - Day of Month',
            'Pickup - Weekday (Mo = 1)','Arrival at Destination - Day of Month'], axis=1, inplace=True)

### Data transformation

Data like the coordinates  for the pickup and the destination might look useless but they would be useful if they were transformed into names of cities and therefore we might get insights on how factors like trafic and navigation can impact the time from the pickup  to arrival. The process of converting coordinates into meaningful categorical data is refered to as reverse geocoding.

The reverse_geocoding library will be used to transform the data, before we can transform the coordinates we need to prepare the data by combining the the latitude and longitude values into tuples.

In [0]:
pickup_co= Train[['Pickup Lat', 'Pickup Long']].apply(tuple, axis=1).tolist()
destination_co = Train[['Destination Lat', 'Destination Long']].apply(tuple, axis=1).tolist()

Next we use the reverse_geocoding library to convert the coordinates into city names.

In [0]:
!pip install reverse_geocoder

Requirement already satisfied: reverse_geocoder in /usr/local/lib/python3.6/dist-packages (1.5.1)
Requirement already satisfied: scipy>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from reverse_geocoder) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from reverse_geocoder) (1.18.4)

In [0]:
import reverse_geocoder as rg

pickup_re = rg.search(pickup_co, mode=2)
Train['Pickup_city'] = [x['name'] for x in pickup_re]

dest_re = rg.search(destination_co, mode=2)
Train['Destination_city'] = [x['name'] for x in dest_re]

In [0]:
Train.drop(['Pickup Lat','Pickup Long','Destination Lat','Destination Long'], axis=1, inplace=True)

In [0]:
Train.head()

   Platform Type Personal or Business  ...  Pickup_city  Destination_city
0              3             Business  ...      Nairobi           Nairobi
1              3             Personal  ...      Pumwani           Nairobi
2              3             Business  ...      Pumwani           Nairobi
3              3             Business  ...      Nairobi           Nairobi
4              1             Personal  ...      Nairobi           Nairobi

[5 rows x 15 columns]

converting time into seconds

In [0]:
#converting time into seconds
def time_to_seconds(column_name):
    Train[column_name] = pd.to_datetime(Train[column_name])
    return (Train[column_name]- pd.to_datetime(pd.to_datetime('today').date())).astype('timedelta64[s]')

In [0]:
Train['Placement - Time']=time_to_seconds('Placement - Time')

In [0]:
Train['Arrival at Pickup - Time']=time_to_seconds('Arrival at Pickup - Time')

In [0]:
Train['Pickup - Time']=time_to_seconds('Pickup - Time')

In [0]:
Train['Arrival at Destination - Time']=time_to_seconds('Arrival at Destination - Time')

In [0]:
Train['Confirmation - Time']=time_to_seconds('Confirmation - Time')

In [0]:
Train.head()

   Platform Type Personal or Business  ...  Pickup_city  Destination_city
0              3             Business  ...      Nairobi           Nairobi
1              3             Personal  ...      Pumwani           Nairobi
2              3             Business  ...      Pumwani           Nairobi
3              3             Business  ...      Nairobi           Nairobi
4              1             Personal  ...      Nairobi           Nairobi

[5 rows x 15 columns]

### Handling missing Data

In [55]:
# filling in Temparature missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(numeric_predictors)
numeric_predictors_1 = imputer.transform(numeric_predictors)

NameError: ignored

In [56]:
Train['Temperature_1']=Train_2222[:,10]

NameError: ignored

hello